@using Microsoft.AspNetCore.Components.Authorization

<CascadeAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizationRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" >
                <Authorizing>Please wait a moment...</Authorizing>
            </AuthorizationRouteView>
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadeAuthenticationState>
